.gridtable {
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
 
}
.gridtable th {
  border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #a0d8ff;
}
.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
tr.over td{
          background: #bcd4ec;
         }
a {
	color:#2d64b3;text-decoration:none
}
a:hover{
	text-decoration:underline
}
ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:350px;height:360px;overflow-y:scroll;overflow-x:auto;}

